 <div class="row">
    <div class="large-12 columns">
      <div class="nav-bar right">
       <ul class="button-group">
        </ul>
      </div>
      <h1>Blog <small>This is my blog. It's awesome.</small></h1>
      <hr />
    </div>
    <% if user_signed_in? %>
      <h5><%= link_to "New Blog Post", new_post_path %></h5>
      <% end %>
  </div>
  <div class="row">

    <!-- Main Blog Content -->
    <div class="large-9 columns" role="content">


      <article>
        <tbody>
          <% @posts.each do |post| %>
            <tr id="<%= dom_id(post) %>">
            <% if post.published? || policy(post).index? %>
              <td><%= link_to 'Show', post %></td>
              <h3><%= link_to post.title, post %></h3>
              <td><% if current_user && policy(post).update? %>
                 <%= link_to 'Edit', edit_post_path(post) %>
                  <% end %></td>
              <td><% if current_user && policy(post).destroy? %>
                  <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% end %></td>
            </tr>
        </tbody>
        <div class="row">
          <div class="large-9 columns">
            <p><%= post.body %></p>
              <h6>Written by </h6>
            <% unless post.published %>
                <p><strong>Unpublished</strong></p>
            <% end %>
          </div>
        </div>
          <% end %>
        <% end %>


      <div class="large-9 columns">    
        <div id="comments">
          <% @posts.each do |post| %>
            <%# if policy(comment).approved? %>
              <% post.comments.each do |comment| %>
              <div class="comment">
                <%= comment.context %>
              </div>
              <% end %>
            <% end %>
          <%# end %>
        </div>
      </div>

    <!-- End Main Content -->


    <!-- Sidebar -->

    <aside class="large-3 columns">

      <h5>Categories</h5>
      <ul class="side-nav">
        <li><a href="#">News</a></li>
        <li><a href="#">Code</a></li>
        <li><a href="#">Design</a></li>
        <li><a href="#">Fun</a></li>
        <li><a href="#">Opinions</a></li>
      </ul>

      <div class="panel">
        <h5>Featured</h5>
        <p>Nothing is featured because featured things are featured unlike this feature.</p>
        <a href="#">Read More &rarr;</a>
      </div>

    </aside>

<!--   <h1>Listing posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%# @posts.each do |post| %>
      <tr id="<%#= dom_id(post) %>">
        <td><%#= post.title %></td>
        <td><%#= post.body %></td>
        <td><%#= link_to 'Show', post %></td>
      <td><%# if policy(post).update? %>
        <%#= link_to 'Edit', edit_post_path(post) %>
      <%# end %></td>
      <td><%# if policy(post).destroy? %>
        <%#= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      <%# end %></td>
      </tr>
      <%# end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Post', new_post_path, class: "button alert" %>
 -->
