 <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
 <% else %>
    <p>
      <%= link_to "Log in", new_user_session_path %>
      <%= link_to "Sign up", new_user_registration_path %>
    </p>  
 <% end %>
<% flash.each do |key, value| %>
  <div class="alert-box round <%= flash_class(key) %>">
        <%= value %>
  </div> 
<% end %>
<div class="row">
  <div class="small-8 columns">
    <h1>New post</h1>
  </div>
</div>
<%= render 'form' %>

<div class="row">
  <div class="small-8 columns">
    <%= link_to 'Back', posts_path %>
  </div>
</div>

