<div class="large-12 columns" role="content">
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Created at</th>
      <th>by</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
        <td><h3><%= link_to @post.title, @post %></h3></td>
        <td><p><%= markdown_filter @post.body %></p>
        <td><%= localize @post.created_at, format: :pretty %></td>
        <td><%= @post.author.email %></td>
        <td><% unless @post.published %></td>
        <td><p><strong>Unpublished</strong></p>
            <% end %></td>
        <td><% if current_user && policy(@post).update? %>
           <%= link_to 'Edit', edit_post_path(@post) %>
            <% end %></td>
        <td><% if current_user && policy(@post).destroy? %>
            <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %></td>
      </tr>
  </tbody>
</table>

<%= render "comments/comments_form" %>
<%= render "comments/table" %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
